.stApp {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: rgb(213, 236, 249);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

st.markdown(
    """
    <style>
    .custom-container {
        background-color: #ffcccb;  /* Change this to your desired color */
        padding: 20px;
        border-radius: 10px;
    }
    </style>
    """,
    unsafe_allow_html=True
)
# Using the custom container
st.markdown('<div class="custom-container"></div>', unsafe_allow_html=True)